body {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

.sect1 {
    background-color: #1F2937;
    padding-left: 100px;
    padding-right: 100px;
    
}

ul {
    
    display: flex;
    width: auto;
    list-style: none;
    gap: 16px;
    font-size: 18px;
    color: #E5E7EB;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.logo {
    
    font-size: 24px;
    color: #F9FAF8;
    
    
}