body {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    color: #E5E7EB;
}
.sect1 {
    background-color: #1F2937;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 100px;
}
.lead {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}
.content {
    
    display: flex;
    flex-direction: column;
    flex: 1;
    flex-wrap: wrap;
    gap: 8px;
    margin-right: 60px;
    

}
.hero {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
}

.subhero, .buybutton{
    font-size: 18px;
    color: #E5E7EB;
}

.buttonwrap {
display: flex;
}

.buybutton {
    display: flex;
    justify-content: center;
    border-radius: 5px;
    padding: 10px;
    width: 100px;
}

img {
    width: 400px;
}

.sect2 {
    text-align: center;
    padding: 100px;
    
}
.info img {
    width: 150px;
    height: 150px;
    border-radius: 5px;
}
.container {
    display: flex;
    justify-content: center;
    gap: 52px;
}
.info {
    
    
    
    
    max-width: 200px;
    
}

.header2 {
    
    display: flex;
    justify-content: center;
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
    margin: 30px;
    
}
.logo {
    
    font-size: 24px;
    color: #F9FAF8;
    
    
}

.header {
    padding: 20px;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    
    
}

ul {
    
    display: flex;
    width: auto;
    list-style: none;
    gap: 16px;
    font-size: 18px;
    color: #E5E7EB;
}

.buybutton {
    background-color: #3882f6;
}

.sect3 {
    background-color: #E5E7EB;
    padding: 100px;
    
}

.testimonial {
    
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    
    
    margin-left: 100px;
    margin-right: 100px;
}

.quote {
    font-size: 36px;
    font-weight: italic;
    color: #1F2937;
}

.signature {
    
    display: flex;
    justify-content: flex-end;
    margin-left: 100px;
    margin-right: 100px;
}

.customer {
    font-size: 20px;
    font-weight: 400;
}

.sect4 {
    
    padding: 100px;
}

.callcontainer {
    background-color: #3882f6;
    display: flex;
    justify-content: space-evenly;
    flex: 1;
    align-items: center;
    height: 100px;
    padding: 20px;
    border-radius: 5px;
    margin-left: 100px;
    margin-right: 100px;
}


.calltext {
    font-size: 24px;
    font-weight: 600;
}

.calltext,.calltext2 {
    color: white;
}

.cta2 {
    border-radius: 5px;
}
.button2 {
    color: white;
    font-weight: 600;
    height: 100%;
    padding: 5px;
    border-radius: 5px;
    border: 2px solid white;
    box-sizing: border-box;
    padding-left: 25px;
    padding-right: 25px;
    
}

.footer {
    padding: 20px;
    background-color: #1F2937;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}